@using Microsoft.AspNetCore.Components.Authorization
@using FindTradie.Web.Auth
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation
@inject FindTradie.Web.Services.IAuthService AuthService

<AuthorizeView>
    <Authorized>
        @{
            var userName = context.User?.Identity?.Name ??
                          context.User?.FindFirst("FirstName")?.Value ??
                          context.User?.FindFirst("name")?.Value ??
                          context.User?.FindFirst("email")?.Value?.Split('@')[0] ??
                          "User";
        }
        <div class="user-info">
            <span class="user-greeting">Hello, @userName</span>
            <button class="btn-logout nav-link btn btn-link" @onclick="LogoutAsync">Log out</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="auth-links">
            <a href="register" class="btn-register">Register</a>
            <a href="login" class="btn-login ms-2">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task LogoutAsync()
    {
        await AuthService.LogoutAsync();

        if (AuthStateProvider is CustomAuthStateProvider customProvider)
        {
            customProvider.NotifyUserLogout();
        }

        Navigation.NavigateTo("/");
    }
}