@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="">
            <i class="fa-solid fa-hammer me-2"></i>FindTradie
        </a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse @(collapseNavMenu ? string.Empty : "show")">
            <ul class="navbar-nav ms-auto align-items-lg-center">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="dashboard">Dashboard</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="jobs">My Jobs</NavLink>
                        </li>
                        @if (IsTradie)
                        {
                            <li class="nav-item">
                                <NavLink class="nav-link" href="tradie/profile">My Profile</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="tradie/jobs">Browse Jobs</NavLink>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <NavLink class="nav-link" href="post-job">Post a Job</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="find-tradies">Find Tradies</NavLink>
                            </li>
                        }
                        <li class="nav-item ms-lg-3">
                            <LoginDisplay />
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="find-tradies">Find Tradies</NavLink>
                        </li>
                        <li class="nav-item ms-lg-3">
                            <LoginDisplay />
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private bool IsTradie = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity?.IsAuthenticated == true)
        {
            var userTypeClaim = authState.User.FindFirst("UserType")?.Value;
            IsTradie = userTypeClaim == "2";
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
