@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider

<div class="navbar">
    <ul class="nav-menu">
        <!-- Common menu items -->
        <li class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <i class="bi bi-house-door"></i> Home
            </NavLink>
        </li>

        <AuthorizeView>
            <Authorized>
                @if (context.User.IsInRole("Customer"))
                {
                    <!-- Customer-only menu items -->
                    <li class="nav-item">
                        <NavLink class="nav-link" href="post-job">
                            <i class="bi bi-plus-circle"></i> Post a Job
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="my-jobs">
                            <i class="bi bi-list-task"></i> My Jobs
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="my-quotes">
                            <i class="bi bi-chat-quote"></i> Quotes Received
                        </NavLink>
                    </li>
                }
                else if (context.User.IsInRole("Tradie"))
                {
                    <!-- Tradie-only menu items -->
                    <li class="nav-item">
                        <NavLink class="nav-link" href="browse-jobs">
                            <i class="bi bi-briefcase"></i> Browse Jobs
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="my-quotes-sent">
                            <i class="bi bi-send"></i> My Quotes
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="active-jobs">
                            <i class="bi bi-hammer"></i> Active Jobs
                        </NavLink>
                    </li>
                }

                <!-- Common authenticated items -->
                <li class="nav-item">
                    <NavLink class="nav-link" href="dashboard">
                        <i class="bi bi-speedometer2"></i> Dashboard
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="messages">
                        <i class="bi bi-envelope"></i> Messages
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="login">
                        <i class="bi bi-box-arrow-in-right"></i> Login
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="register">
                        <i class="bi bi-person-plus"></i> Sign Up
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>
