<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(FindTradie.Web.Components.Layout.MainLayout)" />
    </Found>
    <NotFound>
        <p>Sorry, nothing here.</p>
    </NotFound>
</Router>