<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorized>
                    @if (routeData.PageType == typeof(FindTradie.Web.Pages.Home))
                    {
                        <RedirectToComponent Component="@typeof(FindTradie.Web.Pages.Dashboard)" />
                    }
                </Authorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <p>Sorry, nothing here.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

